$background-gradient: rgb(240, 149, 45);
$screen-background: #3e3e3e;
$header-background: #4d4d4f;
$button-close: #ed1c6f;
$button-maximize: #e8e925;
$button-minimize: #74c54f;
$button-ellipsis: #999;
$title-color: #ea1d6f;
$placeholder-color: #666;
$focus-border-color: #ddd;
$button-hover-color: #b9134f;
$credits-color: #ffa4bd;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;




*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: $background-gradient;
    font-size: 12px;


    body,
    button,
    input {
        font-family: $font-primary;
        font-weight: 700;
        letter-spacing: 1.4px;
    }
}



.background {
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: $screen-background;
    border-radius: 15px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        z-index: -1;
    }
}


.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: $header-background;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .screen-header-left {
        margin-right: auto;
    }

    .screen-header-button {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        border-radius: 8px;
        background: white;

        &.close {
            background: $button-close;
        }

        &.maximize {
            background: $button-maximize;
        }

        &.minimize {
            background: $button-minimize;
        }
    }

}

.screen-body {
    display: flex;

    .screen-body-item {
        flex: 1;
        padding: 50px;

        &.left {
            display: flex;
            flex-direction: column;
        }
    }
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $title-color;
    font-size: 26px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: $title-color;
    }
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;

    &.message {
        margin-top: 40px;
    }

    &.buttons {
        margin-bottom: 0;
        text-align: right;
    }
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    font-size: 14px;
    color: white;
    outline: none;
    transition: border-color 0.2s;
  
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px rgb(252, 249, 249) inset !important;
      box-shadow: 0 0 0 1000px $screen-background inset !important;
      -webkit-text-fill-color: white !important;
    }
}

.app-form-button {
    background: none;
    border: none;
    color: $title-color;
    font-size: 14px;
    cursor: pointer;
    outline: none;

    &:hover {
        color: $button-hover-color;
    }
}


@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;

        span {
            margin-right: 12px;
        }

        &:after {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}





////////////////////////////Dark Mode//////////////////////////////////







.screen-header-dark {
    background: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .screen-header-left {
        margin-right: auto;
    }

    .screen-header-button {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        border-radius: 8px;
        background: white;

        &.close {
            background: $button-close;
        }

        &.maximize {
            background: $button-maximize;
        }

        &.minimize {
            background: $button-minimize;
        }
    }
}


.screen-dark {
    position: relative;
    background: white;
    border-radius: 15px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        z-index: -1;
    }
}


.mode-white {
    font-size: large;
    color: white;
}

.mode-dark {
    font-size: large;
    color: black;
}


.app-form-control-dark{
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
  
  
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px black inset !important;
      box-shadow: 0 0 0 1000px #fff inset !important;
      -webkit-text-fill-color: black !important;
    }
}